/* -----------------
+
+ BASIC STYLES
+
-------------------- */
body{
    background: #f2f2f2;
}
pre {
    width: 500px;
    text-align: left;
    white-space: pre-wrap;
	color: rgb(68, 68, 68);
	}

textarea{
    width: 500px;
    height: 440px;
    resize: none;
    padding: 5px;
    text-align: left;
    white-space: pre-wrap;
	color: rgb(68, 68, 68);
}
h2,h3,h4{
    text-align: center;
    height: 119px;
    box-sizing: border-box;
    padding-top: 60px;
    margin: 0;
}
h2{
    font-size:16pt;
}
h5{
    color: #444444;
    display: block;
    font-family: monospace;
    margin: 1em 0px 1em;
    border-bottom: 1px solid #eef1f2;
    font-size: medium;
    font-weight: 500;
}
/* -----------------
+
+ CONTENT
+
-------------------- */

.flex-container{
    webkit-flex-direction: row; /* Safari */
    flex-direction:row;
    width:240px;
}
.folder{
    margin:3px;
    width:45%;
    display: inline-block;
    /*background:#9b9b9b;*/
    /*cursor: pointer;*/
}

/* -----------------
+ BUTTONS
+-------------------- */
.buttons_row{
    height:40px;
    background: #eef1f2;
    padding: 0 29px 0 29px;
    -webkit-flex-direction: row; /* Safari */
    display: flex;
    flex-flow: row wrap;
}
.buttons_row div{
    width:140px;
    height:40px;
    transition: 150ms ease;
    background: #eef1f2;
    border-radius: 3px;
    margin-right: 10px;
    margin-left: 10px;
}
.buttons_row p{
    width:120px;
    text-align: center;
    color:#96a6a6;
    font-size:10pt;
    margin-left: 10px;
    position: absolute;
}

.buttons_row a{
    display: block;
    height: 100%;

}

.buttons_row div:hover{
    background:#e1e4e5 ;
}
.buttons_row div:hover p{
    color:#808b8d;
}
div .button_delete:hover{
    background: #e84c3d;
}
div .button_delete:hover p{
    color:#eef1f2;
}

.floater{
    position:fixed;
    top:0;
    width: 698px;
    box-sizing: border-box;
    z-index: 10;
    box-shadow: 0px 1px 0px #E0E6E7;
}

.day{

}
.day a{
    text-decoration: none;
}

.weekday,.weekend{
    background: #eef1f2;
    padding: 4px;
    padding-bottom: 0px;
    padding-top: 1px;
    border-radius: 3px 3px 0px 0px;
}
.weekend{
    background: #c0f0d4;
}
.content{
    margin-left: 30px;
}
#shell{
    margin-left: 40px;
    margin-right: 40px;
}