<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blacknote</title>
    <link rel="stylesheet" type="text/css" href="templates/main_style.css" media="all">

</head>
<body>
<?/*Informator*/ include("/main_scripts/informator.php")?>
<div id="container_mini">
    <div id="logotype_mini"></div>

    <?=php ?>
    <p style='width: 381px;'> «Блэкнот» - это набор сервисов, для удобного хранения необходимой для Вас информациии.</p>
    <br>
    <p style='width: 381px;'>Звучит скучно, но сейчас Вы сами всё поймете :)</p>
    <br>



    <a href="try_demo.php"><div class="action_button" style="   box-sizing: border-box;
    width:80%;
    text-align: center;
   margin: 0 auto;">Попробовать демо-версию</div></a>
</div>
</body>
</html>